{% extends 'base.html.twig' %}

{% block title %}Hello AssociationController!
{% endblock %}

{% block body %}
	

	<div class="example-wrapper">
		<h2>
			Qui Sommes Nous ?
		</h2>
		<p>
			L'association Split Screen une association loi 1901 basée à Orléans, dont l'objet est de promouvoir et développer la culture vidéoludique.
		</p>
		<p>Fondée en 2019, l'association souhaite permettre aux joueurs et fans de jeux vidéo de se retrouver afin de vivre leur passion commune, tout en partageant la culture et l’histoire dujeu vidéo au grand public.
		</p>
		<h3>
			Fédérer
		</h3>
		<p>
			Réunir les joueurs et communautés de joueurs dispersés sur tout le territoireorléanais grâce à des événements etmanifestations organisées tout au long del'année
		</p>
		<h3>
			Promouvoir
		</h3>
		<p>
			Promouvoir la culture vidéo ludique auprès du grand public via la création d’ateliers, de conférences ou d'expositions.
		</p>
	</div>
{% endblock %}
