{% extends 'base.html.twig' %}

{% block title %}Nouvelle Événements
{% endblock %}

{% block body %}
	<h1 class="ms-2 d-flex justify-content-center">Créer un événements</h1>
	<div class="row justify-content-center">
		<div class="w-50">
			{{ include('admin_event/_form.html.twig') }}
			<div class="d-flex align-items-center justify-content-start">
				<a type="button" class=" btn btn-primary btn-lg m-2" href="{{ path('admin_event_index') }}">Retour à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}
