<section class="EventList container d-flex justify-content-center flex-column">

	<h2 class="text-center text-secondary">
		Nos différents événements
	</h2>

	<div class="row justify-content-center">
		<p class="w-50 d-flex justify-content-center">Retrouvez ici tous les événements que SplitScreen vous propose</p>
	</div>

	<section class=" row align-items-center">
		<img src="{{ asset('build/images/Tournois1.jpg') }}" class="col-lg-6 my-4" alt="Tournois"/>
		<div class="corners col-lg-6">
			<div class="card-body">
				<h2 class="card-title text-secondary">Tournois</h2>
				<p class="card-text"> Venez nombreux pour participer et decouvrir nos tournois dans la joie et la bonne humeur !</p>
			</div>
		</div>
	</section>

	<section class="row align-items-center flex-column-reverse flex-lg-row">
		<div class="corners col-lg-6">
			<div class="card-body">
				<h2 class="card-title text-secondary">Tables rondes</h2>
				<p class="card-text">
					Retrouvez ici toutes les tables rondes que SplitScreen vous propose : discussions sur les changements et événements futurs...
				</p>
			</div>
		</div>
		<img src="{{ asset('build/images/TablesRondes.jpg') }}" class="col-lg-6 my-4" alt="Tables Rondes"/>
	</section>

	<section class=" row align-items-center">
		<img src="{{ asset('build/images/Atelier.jpg') }}" class="col-lg-6 my-4" alt="Atelier"/>
		<div class="corners col-lg-6 mb-5">
			<div class="card-body">
				<h2 class="card-title text-secondary">Ateliers</h2>
				<p class="card-text">Venez nombreux pour decouvrir et participer ateliers dans la joie et la bonne humeur !</p>
			</div>
		</div>
	</section>
</section>
