{% if event.participants is not empty %}

	<section class="d-flex justify-content-center my-3">
		<h1>Podium</h1>
	</section>

	<section>
		<div class="row justify-content-around mb-5">
			{% for participant in event.participants|slice(0,3) %}
				<div class="col-lg-4 text-center">
					<img src="{{ asset('build/images/TOP' ~ loop.index ~ '.png') }}" id="logo"/>
					<p class="mt-3">{{ participant.pseudo }}</p>
				</div>
			{% endfor %}
			<div>
				<ul>
					{% for participant in event.participants|slice(3,15) %}
						<li class="list-group-item mt-4">
							<p class="text-center">
								N°{{ loop.index + 3 }}
								{{ participant.pseudo }}
							</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
{% endif %}
