{% extends 'base.html.twig' %}

{% block title %}Event index
{% endblock %}
{% block body %}
	<header>
		<div>
			<h1>Les Évènements</h1>
		</div>
	</header>
    <section class="d-flex justify-content-center">
        <h2>Se tenir informé pour mieux jouer !</h2>
    </section>
    <main>
        <div>
            <h3>Nos Évènements</h3>
        </div>
        <div>
            
        </div>
    </main>

{% endblock %}
