{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('event') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	| Évènements
{% endblock %}

{% block body %}
	{% include 'components/_header.html.twig' with {'title': 'Évènements'} %}
	<section>
		<h1 class="text-center p-2 mt-5">"Se tenir informé pour mieux jouer !"</h1>
	</section>
	<main class="container">
		<div class="p-2">
			<h3 class="border-bottom border-2 border-secondary pb-2">Nos Évènements</h3>
		</div>
		<div class="mb-5">
			<h3 class="text-light text-center mx-auto mt-4 py-1 px-2 mb-3 mx-auto bg-primary">à venir</h3>
			{% if upcomingEvents is empty %}
				<p class="text-center mb-5">Pas d'évènements à venir ...</p>
			{% else %}
				{% include 'components/_card_event.html.twig' with {'events': upcomingEvents } %}
			{% endif %}
		</div>
		<div class="mb-5">
			<h3 class="text-light text-center mx-auto mt-4 py-1 px-2 mb-3 mx-auto bg-secondary">Passés</h3>
			{% if pastEvents is empty %}
				<p class="text-center">Pas d'évènements passées ...</p>
			{% else %}
				{% include 'components/_card_event.html.twig' with {'events': pastEvents } %}
			{% endif %}
		</div>
	</main>
	{% include 'components/_banner.html.twig'%}
	{% include '/event/_eventList.html.twig' %}
{% endblock %}
