{% extends 'base.html.twig' %}

{% block title %}Event index
{% endblock %}
{% block body %}
	<header>
		<div>
			<h1>{{titre}}</h1>
		</div>
	</header>
    <section class="d-flex justify-content-center">
        <h2 class="p-2">Se tenir informé pour mieux jouer !</h2>
    </section>
    <main>
        <div class="p-2">
            <h3>Nos Évènements</h3>
            <hr style="width:20%; height:6px;" class="bg-secondary">
        </div>
        <div>
            
        </div>
    </main>

{% endblock %}
