{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}
	<h1>
		<span class="text-primary">Split</span>
		<span class="text-secondary">Screen</span>
	</h1>
	<p>Bienvenue sur le site</p>
{% endblock %}
