<div class="ms-1 mb-3 border border-3 border-primary p-3">
	{{ form_start(form) }}
	{{ form_row(form.link) }}
	<div class="d-flex justify-content-center">
		<button class="btn btn-secondary btn-lg m-2">{{ button_label|default('Enregistrer') }}</button>
	</div>
</div>
{{ form_end(form) }}
