{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifier
	{{ network.title }}
{% endblock %}

{% block body %}
	<h1 class="text-center pt-4">Modifier
		{{ network.title }}</h1>
	<a href="{{ path('admin_network_index') }}" class="ms-5 btn btn-primary">
		<i class="bi bi-arrow-left"></i>Retour à la liste</a>

	<div class="w-50 mx-auto my-4 text-center">
		{{ include('admin/admin_network/_form.html.twig', {'button_label': 'Modifier'}) }}
	</div>
{% endblock %}
