{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifier
	{{ network.title }}
{% endblock %}

{% block body %}
	<h1 class="ms-2 text-center">Modifier {{ network.title }}</h1>
	<div class="row justify-content-center">
		<div class="w-50">
			{{ include('admin/admin_network/_form.html.twig', {'button_label': 'Modifier'}) }}
			<a class=" btn btn-primary btn-lg m-2" href="{{ path('admin_network_index') }}">Retour à la liste</a>
		</div>
	</div>

{% endblock %}
