{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}
	{{parent()}}
	| Réseaux sociaux
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Réseaux sociaux</h1>
		<div class="d-flex justify-content-start">
			<table class="table">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Lien</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for network in networks %}
						<tr>
							<td>{{ network.title|capitalize }}</td>
							<td>{{ network.link }}</td>
							<td class="d-flex">
								<a href="{{ path('admin_network_edit', {'id': network.id}) }}" class="btn btn-warning m-2">Modifier<i class="bi bi-pen ms-2"></i>
								</td>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Pas de réseaux sociaux trouvés</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
	{% endblock %}
