{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('homeAdmin') }}
{% endblock %}
{% block title %}
	{{parent()}}
	| Home
{% endblock %}
{% block body %}
	<h2 class="text-center">Bienvenue dans votre espace administrateur</h2>
	<section class="d-flex flex-row">
		<div class="Card container mb-5">
			<div class="card">
					<h3>Événements</h3>
			</div>
		</div>
		<div class="Card container mb-5">
			<div class="card">
					<h3>Actualites</h3>
			</div>
		</div>
		<div class="Card container mb-5">
			<div class="card">
					<h3>Membres</h3>
			</div>
		</div>
	</section>
{% endblock %}
