{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('homeAdmin') }}
{% endblock %}
{% block title %}
	{{parent()}}
	| Home
{% endblock %}
{% block body %}
	<h2 class="text-center">Bienvenue dans votre espace administrateur</h2>
	<section class="d-flex flex-row">


	
		<div class="Card container mb-5">
			<a class="text-decoration-none" href="{{ path('admin_event_index') }}">
				<div class="card">

					<h3 class="m-5 text-light">Événements</h3>
				</div>
			</a>
		</div>




		<div class="Card container mb-5">
			<a class="text-decoration-none" href="{{ path('admin_actuality_index') }}">

				<div class="card">
					<h3 class="m-5 text-light">Actualites</h3>
				</div>
			</a>
		</div>
		<div class="Card container mb-5">
			<a class="text-decoration-none" href=>

				<div class="card">
					<h3 class="m-5 text-light">Membres</h3>
				</div>
			</a>
		</div>
	</section>
{% endblock %}
