{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}
	{{parent()}}
	| Home
{% endblock %}

{% block body %}

	<h2 class="text-center">Bienvenue dans votre édition de jeux</h2>

{% endblock %}
