{% extends 'base.html.twig' %}

{% block title %}Edit HelloAsso
{% endblock %}

{% block body %}
	<h1>Edit HelloAsso</h1>

	{{ include('admin/admin_asso/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('admin/admin_asso_index') }}">back to list</a>

{% endblock %}
