{% extends 'base.html.twig' %}

{% block title %}HelloAsso{% endblock %}

{% block body %}
    <h1>HelloAsso</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lien</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hello_asso in hello_assos %}
            <tr>
                <td>{{ hello_asso.id }}</td>
                <td>{{ hello_asso.link }}</td>
                <td>
                    <a href="{{ path('admin_asso_edit', {'id': hello_asso.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun lien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
