{% extends 'base.html.twig' %}

{% block title %}HelloAsso index{% endblock %}

{% block body %}
    <h1>HelloAsso index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hello_asso in hello_assos %}
            <tr>
                <td>{{ hello_asso.id }}</td>
                <td>{{ hello_asso.link }}</td>
                <td>
                    <a href="{{ path('admin_asso_edit', {'id': hello_asso.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
