{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Nouvelle Actu{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Actu</h1>

    {{ include('admin/admin_actu/_form.html.twig') }}

    <a href="{{ path('admin_actu_index') }}">Retour à la liste</a>
{% endblock %}
