<form method="post" action="{{ path('admin_member_delete', {'id': member.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce membre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn btn-danger btn-lg m-2">Supprimer<i class="bi bi-trash3-fill ms-2"></i></button>
</form>
