{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}{{parent()}}
	| Nouveau membre
{% endblock %}

{% block body %}
	<h1 class="ms-2 text-center">Ajouter un nouveau membre</h1>
	<a href="{{ path('admin_member_index') }}" class="ms-5 btn btn-primary">
		<i class="bi bi-arrow-left"></i>
		Retour à la liste</a>
	<div class="row justify-content-center">
		<div class="w-50">
			{{ include('admin/admin_member/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
