{% extends 'base.html.twig' %}

{% block title %}Hello ApiTestController!{% endblock %}

{% block body %}
<pre>
    {{ dump(rankings) }}
</pre>

{% for rank in rankings %}
    <li>{{rank.placement}} | {{rank.entrant.name}}</li>
{% endfor %}
{% endblock %}
