{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Nouvel Événement
{% endblock %}

{% block body %}
	<h1 class="ms-2 text-center">Créer un événement</h1>
	<div class="row justify-content-center">
		<div class="w-50">
			{{ include('admin/admin_event/_form.html.twig') }}
			<div class="d-flex align-items-center justify-content-start">
				<a class=" btn btn-primary btn-lg m-2" href="{{ path('admin_event_index') }}">Retour à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}
