{% extends 'base.html.twig' %}

{% block body %}
	<section>
		<h1 class="text-center py-5">MENTIONS LÉGALES</h1>
	</section>

		<h2 class="text-center text-secondary m-5 p-4">Mention de droits réservés</h2>

			<p class="mx-auto w-75">Conformément à la Loi « Informatique et Libertés » n° 78-17 du 6 janvier 1978, 
				les informations vous concernant sont destinées à Split Screen, responsable du traitement. 
				Vous disposez d'un droit d'accès, de rectification et de suppression des données qui vous concernent. 
				Vous pouvez exercer ce droit en adressant un e-mail à l'adresse électronique suivante : contact@splitscreen.com<br><br>
				Les informations fournies seront exploitées de manière anonyme et non nominatives à des fins d'analyse et de statistique.<br><br>
				En vous connectant à ce site édité et mis en ligne par Split Screen, vous accédez à un contenu protégé par la loi, notamment par les dispositions du Code de la propriété intellectuelle.
			</p>


		<h2 class="text-center text-secondary m-5 p-4">Conditions Générales d'Utilisation</h2>

			<p class="mx-auto w-75 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin consequat orci, vel faucibus dui hendrerit ac. Suspendisse quis pretium arcu. 
						Donec non suscipit massa, non posuere velit. Pellentesque facilisis finibus tortor, at vulputate ex congue ut. 
						Curabitur sodales accumsan lorem, accumsan aliquam odio faucibus sit amet. Lorem ipsum dolor sit amet, consectetur 
						adipiscing elit. Curabitur porta lorem vitae libero semper, eu varius orci ornare.<br><br>
						Etiam maximus convallis risus euismod gravida. Quisque vel ex venenatis, interdum urna at, dapibus lacus. 
						In ultricies odio quis blandit elementum. Fusce nec pretium purus. Proin porta vestibulum justo ut laoreet. 
						Nam aliquam tempus sagittis.<br><br>Curabitur dolor erat, faucibus eget feugiat nec, tincidunt eu leo. Nam vel ultricies eros. 
						Quisque vestibulum pretium tellus, eu blandit dolor tristique quis. Suspendisse a turpis euismod massa vehicula ultricies quis mollis enim.
			</p>

	{% endblock %}
