{% extends 'base.html.twig' %}

{% block body %}
	{% include 'components/_header.html.twig' %}

	<h1 class="text-center py-5">"Mentions légales"</h1>

    {% include 'components/_footer.html.twig' with {'title': 'Mentions légales'} %}

{% endblock %}
