{% extends 'base.html.twig' %}

{% block body %}
	<section>
		<h1 class="text-center py-5">MENTIONS LÉGALES</h1>
	</section>

	<h2 class="text-center text-secondary m-5 p-4">Mention de droits réservés</h2>

	<p class="mx-auto w-75">Conformément à la Loi « Informatique et Libertés » n° 78-17 du 6 janvier 1978, 
								les informations vous concernant sont destinées à Split Screen, responsable du traitement. 
								Vous disposez d'un droit d'accès, de rectification et de suppression des données qui vous concernent. 
								Vous pouvez exercer ce droit en adressant un e-mail à l'adresse électronique suivante : contact@splitscreen.com<br><br>
		Les informations fournies seront exploitées de manière anonyme et non nominatives à des fins d'analyse et de statistique.<br><br>
		En vous connectant à ce site édité et mis en ligne par Split Screen, vous accédez à un contenu protégé par la loi, notamment par les dispositions du Code de la propriété intellectuelle.
	</p>


	<h2 class="text-center text-secondary m-5 p-4">Conditions Générales d'Utilisation</h2>
	<h3 class="text-center text-secondary m-2 p-4">Édition du site</h3>

	<p class="mx-auto w-75 mb-5">En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet
		'...'
		l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
		<br><br>
		Propriétaire du site : Split Screen (association) - Contact : contact@splitscreen.com - Adresse : 1 rue de Donville, 45480 Bazoches Les Gallerandes.
		<br><br>
		Identification de l'entreprise : Split Screen (association) - Adresse postale : 1 rue de Donville, 45480 Bazoches Les Gallerandes.
		<br><br>
		Directeur de la publication : Manuel Carroué - Contact : contact@splitscreen.com
		<br><br>
		Hébergeur : 
		<br><br>
		Délégué à la protection des données : Manuel Carroué - Contact : contact@splitscreen.com
		<br><br>
		Autres contributeurs : Wild Code School
	</p>

{% endblock %}
