@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4 {
    font-family: $titleFont;
}

body {
    font-family: $textFont;
}

h2 {
    display: inline-block;
    position: relative;
    padding: 10px;
  }
 