@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import 'aos/dist/aos.css';

html {
    scroll-behavior: smooth;
  }
  
h1, h2, h3, h4 {
    font-family: $titleFont;
}

body {
    font-family: $textFont;
}

.imgRight {
    box-shadow: 20px 20px $primary;
}

.imgLeft {
    box-shadow: -20px -20px $secondary;
}

.imgCards {
    height: 300px;
    object-fit: cover;
}

/* Corners Section */
.corners {
    display: inline-block;
    position: relative;
}
  
.corners:before,
.corners:after {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '';
}
  
.corners:before {
    right: 0;
    top: 0;
    border-right: 3px solid  $primary;
    border-top: 3px solid  $primary;
}
  
.corners:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid  $primary;
    border-bottom: 3px solid  $primary;
}

.corner {
    display: inline-block;
    position: relative;
    padding: 10px;
}
  
.corner:before,
.corner:after {
    margin-left: 120px;
    margin-right: 120px;
    height: 50px;
    width: 50px;
    position: absolute;
    content: '';
}
  
.corner:before {
    right: 0;
    top: 0;
    border-right: 3px solid  $primary;
    border-top: 3px solid  $primary;
}
  
.corner:after {
    
    left: 0;
    bottom: 0;
    border-left: 3px solid  $primary;
    border-bottom: 3px solid  $primary;
} 

.footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('../images/footer.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 992px) {
    .corner::before,.corner::after {
      display:none;
    }
}

@media screen and (max-width: 992px) {
    .corners::before,.corners::after {
      display:none;
    }
}

@media screen and (max-width: 600px) {
.imgLeft, .imgRight {
        box-shadow: 0 0;
    }
}