@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4 {
    font-family: $titleFont;
}

body {
    font-family: $textFont;
}

h2 {
    display: inline-block;
    position: relative;
    padding: 10px;
  }
  
  .box:before,
  .box:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
  }
  
  .box:before {
    right: 0;
    top: 0;
    border-right: 3px solid #9b59b6;
    border-top: 3px solid #9b59b6;
  }
  
  .box:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
  }