@import "variables.scss";

.corners {
    display: inline-block;
    position: relative;
    padding: 10px;
  }
  
  .corners:before,
  .corners:after {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '';
  }
  
  .corners:before {
    right: 0;
    top: 0;
    border-right: 3px solid  $primary;
    border-top: 3px solid  $primary;
  }
  
  .corners:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid  $primary;
    border-bottom: 3px solid  $primary;
  }

  @media screen and (max-width: 600px) {
    .corners::before,.corners::after {
      display:none;
    }
  }

  @media screen and (max-width: 992px) {
    .corners {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
  }