.headerImg {
    background-image: url('../images/Gaming.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.textimg {
    padding-left: 100px;
    border: 0.2rem solid;
}
