.header {
    background-image: url('../images/Gaming.webp');
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.textimg {
    border: 0.2rem solid;
    width: fit-content;
}

