@import "variables.scss";
h3
{
    color: white;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    
}

.Card 
{   
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-color: $primary;
}
.Card .card
{  
    display: flex;
    justify-content: center;
    background: rgb(23, 23, 23);
    background: linear-gradient(
        -50deg,
        rgba(23, 23, 23, 1) 45%,
        rgba(0, 0, 0, 1) 50%,
        rgba(255, 255, 255, 1) 50.1%,
        rgba(255, 255, 255, 1) 50%
    );
    width: 100%;
    height: 75vh;
    box-shadow: -6px -6px 10px white, 6px 6px 5px white
}

.Card .card:hover
{
    transform: scale(1.01);
}