.col h2 {
    width: fit-content;
}

.controller-img {
    background-image: url("../images/manette.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.eventActu {
    height: 300px;
    
}

@media screen and (max-width: 991px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .eventActu {
        height: initial;
    }
}
