@import "variables.scss";

.navgradiant {
    background: rgb(23, 23, 23);
    background: linear-gradient(
        -45deg,
        rgba(23, 23, 23, 1) 32%,
        rgba(0, 0, 0, 1) 45%,
        rgba(255, 255, 255, 1) 45%,
        rgba(255, 255, 255, 1) 60%
    );
}

.mix {
    mix-blend-mode: difference;
}

.navbar-nav .nav-link {
    &::after {
        content: "";
        width: 0%;
        height: 3px;
        display: block;
        transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
        bottom: 0%;
    }
    &:hover {
        &::after {
            width: 100%;
            height: 3px;
            background-color: $secondary;
        }
    }
    &.active {
        &::after {
            width: 100%;
            height: 3px;
            background-color: $secondary;
        }
    }
}
