@import "variables.scss";

.partners {
    // background-image: url('../images/gradiant.png');
    // border: 1rem solid $dark;
    // width: fit-content;
}

.partner-image {
    filter: opacity(0.5) grayscale(100%);
    object-fit: contain;
    height: 200px;
    transition: filter 0.5s ease-in-out;
}

.partner-image:hover {
    filter: none;
}
