<div class="row">
			<div class="col-lg-6 align-self-center">
				<table class="table text-center align-middle">
					<tbody>
						<tr>
							<td class="text-primary">
								<h3><a href="https://www.facebook.com/splitscreenasso" class="link-primary text-decoration-none" target="_blank">Facebook</a></h3>
							</td>
							<td class="text-start">
								<a href="https://www.facebook.com/splitscreenasso" class="link-secondary" target="_blank">
									<i class="bi bi-facebook fs-3"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td class="text-primary">
								<h3><a href="https://www.instagram.com/splitscreenasso" class="link-primary text-decoration-none" target="_blank">Instagram</a></h3>
							</td>
							<td class="text-start">
								<a href="https://www.instagram.com/splitscreenasso" class="link-secondary" target="_blank">
									<i class="bi bi-instagram fs-3"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td class="text-primary">
								<h3><a href="https://discord.gg/ftJeetZT9j" class="link-primary text-decoration-none" target="_blank">Discord</a></h3>
							</td>
							<td class="text-start">
								<a href="https://discord.gg/ftJeetZT9j" class="link-secondary" target="_blank">
									<i class="bi bi-discord fs-3"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td class="text-primary">
								<h3><a href="https://www.twitch.tv/splitscreen_live" class="link-primary text-decoration-none" target="_blank">Twitch</a></h3>
							</td>
							<td class="text-start">
								<a href="https://www.twitch.tv/splitscreen_live" class="link-secondary" target="_blank">
									<i class="bi bi-twitch fs-3"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="col-lg-6">
				<img src="{{ asset('build/images/rs_contact.jpg') }}" alt="réseaux sociaux" class="w-100">
			</div>
		</div>
	</div>
</div>