{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Contact
{% endblock %}

{% block body %}
	{% include 'components/_header.html.twig' with {'title': 'Contact'} %}

	<h1 class="text-center py-5">"Nous sommes à votre écoute"</h1>

	<div class="container mb-5">
		<div class="row">
			<div class="col-lg-6">
				<img src="{{ asset('build/images/img_contact.jpg') }}" alt="stick arcade" class="w-100">
			</div>
			<div class="col-lg-6 align-self-center">
				{{ form(form) }}
				</div>
			</div>

			<h1 id="reseaux" class="text-center py-5">Nos réseaux sociaux</h1>

			<div class="row">
				<div class="col-lg-6 align-self-center">
					<table class="table text-center display-6">
						<tbody>
							<tr>
								<td class="text-primary">Facebook</td>
								<td class="text-start">
									<a href="https://www.facebook.com/splitscreenasso" class="link-secondary" target="_blank">
										<i class="bi bi-facebook"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td class="text-primary">Instagram</td>
								<td class="text-start">
									<a href="https://www.instagram.com/splitscreenasso" class="link-secondary" target="_blank">
										<i class="bi bi-instagram"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td class="text-primary">Discord</td>
								<td class="text-start">
									<a href="https://discord.gg/ftJeetZT9j" class="link-secondary" target="_blank">
										<i class="bi bi-discord"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td class="text-primary">Twitch</td>
								<td class="text-start">
									<a href="https://www.twitch.tv/splitscreen_live" class="link-secondary" target="_blank">
										<i class="bi bi-twitch"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="col-lg-6">
					<img src="{{ asset('build/images/rs_contact.jpg') }}" alt="réseaux sociaux" class="w-100">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
