{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	| Contact
{% endblock %}

{% block body %}
	{% include 'components/_header.html.twig' with {'title': 'Contact'} %}

	<h1 class="text-center py-5">"Nous sommes à votre écoute"</h1>

	{% include 'contact/_contactForm.html.twig' %}


	<h1 id="reseaux" class="text-center py-5">Nos réseaux sociaux</h1>

	{% include 'contact/_networks.html.twig' %}

{% endblock %}
