<footer class="footer bg-dark text-light py-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex justify-content-center">
					<ul class="m-0">
						<li class="list-unstyled">
							<h2>
								<i class="bi bi-house"></i>
								Maison des associations - Place Sainte Beuve, 45100 Orléans</h2>
						</li>
						<li class="list-unstyled">
							<h2>
								<i class="bi bi-envelope"></i>
								<a class="text-secondary" href="#">contact.splitscreen@gmail.com</a>
							</h2>
						</li>
						<li class="list-unstyled">
							<h2>Mentions légales</h2>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex align-items-center justify-content-center h-100">
					<button type="button" class="btn btn-secondary btn-lg" href="#"> Nos réseaux
					</button>
				</div>
			</div>
		</div>
	</div>
</footer>
