{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}

<div class="headerImg">
	<h1 class="textimg text-light d-flex justify-content-start align-items-center h-100 w-100 fs-1">
		Split Screen
	</h1>
</div>
