{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}

<div class="headerImg d-flex align-items-center">
	<h1 class="textimg text-light p-5 ms-5">
		{{ title }}
	</h1>
</div>
