{% block stylesheets %}
	{{ encore_entry_link_tags('banner') }}
{% endblock %}

<div class="w-100 controller-img my-5 text-center">
	<a href="https://www.helloasso.com/associations/split-screen" class="btn btn-secondary btn-lg my-4" target="blank">
		Nous rejoindre
	</a>
	<img class="w-25" src="{{ asset('build/images/Helloasso-logo.png') }}" alt="">
</div>
