{% block stylesheets %}
	{{ encore_entry_link_tags('banner') }}
{% endblock %}

<div class="w-100 controller-img my-5 text-center">
	<a href="{{ assoLink }}" class="btn btn-secondary btn-lg my-4 me-4" target="blank">
		Nous rejoindre
	</a>
	<img class="w-25 py-5" src="{{ asset('build/images/Helloasso-logo.png') }}" alt="">
</div>
