{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} my-4 w-50 mx-auto">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}