<footer class="footer bg-dark text-light py-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="d-flex">
					<ul class="m-0 p-0">
						<li class="list-unstyled">
							<p>
								<i class="bi bi-house fs-5"></i>
								Maison des associations - Place Sainte Beuve, 45100 Orléans</p>
						</li>
						<li class="list-unstyled">
							<p class="text-secondary ">
								<i class="bi bi-envelope fs-5"></i>
								contact.splitscreen@gmail.com
							</p>
						</li>
						<li class="list-unstyled">
						<a href="{{ path('legal_notice_index') }}"><p>Mentions légales</p></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<div class="d-flex align-items-center justify-content-center h-100">
					<a type="button" class="btn btn-secondary" href="{{ path('contact_index') }}#reseaux"><i class="ps-2 bi bi-grid-fill me-2"></i>Nos réseaux sociaux</a>
				</div>
			</div>
		</div>
	</div>
</footer>
