<footer class="footer bg-dark text-light py-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="d-flex justify-content-center">
					<ul class="m-0 p-0">
						<li class="list-unstyled">
							<h3>
								<i class="bi bi-house fs-5"></i>
								Maison des associations - Place Sainte Beuve, 45100 Orléans</h3>
						</li>
						<li class="list-unstyled">
							<h3 class="text-secondary ">
								<i class="bi bi-envelope fs-5"></i>
								contact.splitscreen@gmail.com
							</h3>
						</li>
						<li class="list-unstyled">
							<h3>Mentions légales</h3>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="d-flex align-items-center justify-content-center h-100">
					<a type="button" class="btn btn-secondary btn-lg" href="{{ path('contact_index') }}#reseaux">Nos réseaux<i class="ps-2 bi bi-grid-fill"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
