{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}

<div class="header d-flex align-items-center justify-content-center justify-content-lg-start">
	<h1 class="textimg text-light p-5 ms-lg-5"></h1>
</div>
