{% block stylesheets %}
	{{ encore_entry_link_tags('partners') }}
{% endblock %}

<h1 class="text-center">Nos Partenaires</h1>
<section class="partners mb-5">
	<div class="container-fluid">
		<div class="row justify-content-around mx-3">
			{% if partners is not empty %}
				{% for partner in partners %}
					<a target="_blank" href="{{ partner.link }}" class="col-lg-2">
						<img src="{{ asset('uploads/partners/' ~ partner.image) }}" class=" w-100 partner-image"/>
					</a>
				{% endfor %}
			{% else %}
				<h2 class="d-flex justify-content-center h3">Partenaires à venir !</h2>
			{% endif %}
		</div>
	</div>
</section>
