{% block stylesheets %}
	{{ encore_entry_link_tags('partners') }}
{% endblock %}

<h1 class="d-flex justify-content-center">Nos Partenaires</h1>
<section class="partners">
	<div class="container-fluid pt-3">
		<div class="d-flex justify-content-between mx-3">
			{% if partners is not empty %}
				{% for partner in partners %}
					<img href="{{ partner.link }}" src="{{ asset('images/partners/' ~ partner.image) }}" class="col-lg-2 partner-image"/>
				{% endfor %}
			{% else %}
				<h2 class="h3">Partenaires à venir !</h2>
			{% endif %}
		</div>
	</div>
</section>
