{% block stylesheets %}
	{{ encore_entry_link_tags('partners') }}
{% endblock %}

<section class="partners">
	<div class="">
		<div class="">
			<img src="{{ asset('build/images/Logo_Mairie.png') }}" class="col-lg-2 partner-image mt-3" alt="Logo de la Mairie">
			<img src="{{ asset('build/images/Logo_Mairie.png') }}" class="col-lg-2 partner-image mt-3" alt="Logo de la Mairie">
			<img src="{{ asset('build/images/Logo_Mairie.png') }}" class="col-lg-2 partner-image mt-3" alt="Logo de la Mairie">
		</div>
	</div>
</section>
