<form method="post" action="{{ path('admin_actuality_delete', {'id': actuality.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette actualité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actuality.id) }}">
    <button class="btn btn-danger m-2 d-flex">Supprimer<i class="bi bi-trash3-fill ms-2"></i></button>
</form>
