{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Nouvelle actualité
{% endblock %}

{% block body %}
	<h1 class="text-center">Ajouter une nouvelle actualité</h1>
	<a href="{{ path('admin_actuality_index') }}" class="ms-5 btn btn-primary">
		<i class="bi bi-arrow-left"></i>
		Retour à la liste</a>
	<div class="w-50 mx-auto my-4">
		{{ include('admin/admin_actuality/_form.html.twig') }}
	</div>
{% endblock %}
