{% extends 'base.html.twig' %}

{% block body %}

	<div class="text-center m-5">
		<h1>Error 500</h1>

		<h2>Erreur serveur</h2>

		<p>
			Problème serveur
			<a href="{{ path('home_index') }}">retourner sur la page d'accueil</a>.
		</p>


		<h2>Internal server error</h2>

		<p>
			Something's wrong
			<a href="{{ path('home_index') }}">return to the homepage</a>.
		</p>
	</div>
{% endblock %}
