{% extends 'base.html.twig' %}

{% block body %}

	<div class="text-center m-5">
		<h1>Erreur 500</h1>

		<h2>Erreur serveur</h2>

		<p>
			Problème serveur.
			<a href="{{ path('home_index') }}">Retourner sur la page d'accueil</a>.
		</p>


		<h2>Internal server error</h2>

		<p>
			Something's wrong with the server.
			<a href="{{ path('home_index') }}">Return to the homepage</a>.
		</p>
	</div>
{% endblock %}
