<div class="ms-1 border border-3 border-primary p-3">{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-secondary btn-lg m-2">{{ button_label|default('Valider') }}<i class="ms-1 bi bi-check-lg"></i></button>
	{{ form_end(form) }}
</div>